

.wrapper{
    display: flex;
    flex: 1;
    background-color: rgb(44,51,56)
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-horizontal-center{
    justify-content: center;
}

.flex-vertical-center{
    align-items: center;
}


.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}


.my-margin{
    margin: 15px;
}