        

<div class="wrapper flex-center">
    <div class="col-md-3">        
           <div class="panel panel-default">
            <div class="panel-heading"><h2>{{page}}</h2></div>
            <div class="panel-body">
               <form>
                    <div  class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Email" required>
                    </div>
                    <div  class="form-group">
                        <label for="passwd">Password:</label>
                        <input type="password" class="form-control" ng-model="user.passwd" id="passwd" placeholder="Password" required>
                    </div>
                    <button ng-click="submit()" class="btn btn-primary col-md-12">{{page}}</button>
                </form>
            </div>
          </div>
    </div>
</div>
