<!--qua dentro metteremo un parziale (solo la parte html/css ecc che ci interessa inserire)-->
<div class="wrapper flex-center">
    <div class="col-md-3">
        <div class="wrapper flex-column">
            <button type="button" class="btn btn-primary my-margin " ui-sref="signup">signup</button>
            <button type="button" class="btn btn-primary my-margin " ui-sref="login">login</button>
            <button type="button" class="btn btn-primary my-margin " ui-sref="me">me</button>
            <button type="button" class="btn btn-primary my-margin " ng-click="logout()">logout</button>
        </div>
    </div>
</div>
