<div class="wrapper flex-horizontal-center my-margin">
    <div class="col-md-6">
        <div class="container">
           <div class="panel panel-default">
            <div class="panel-heading">{{http.statusText}} - Status {{http.status}}</div>
            <div class="panel-body">
                {{message || user}}  <!-- Stampa la prop message presente nello $scope. Il || permette di valutare message e se ha valore undefined stampa invece user, anch'esso presente nello $scope -->
            </div>
          </div>
        </div>
    </div>
</div>